{% extends "layout.html" %}

{% block heading %}
    Let's find what you are looking for
{% endblock %}

{% block body %}
    Enter key words regarding to any of the below to start your book search </br>
    <ul>
        <li>Title</li>
        <li>ISBN Number</li>
        <li>Author</li>
        <li>Year</li>
    </ul>

    <div class="search-container">
        <form action="{{ url_for('search') }}" method="post">
            <input type="search" name="search" placeholder="Search..">
            <input type="submit">
        </form>
      </div>
    

{% endblock %}
